<template name="profile">
    {{#if currentUser}}
        {{#contentFor "headerButtonRight"}}
            <button class="button button-clear pull-right button-positive" data-ion-modal="settings">
                {{> ionIcon icon='ios-gear-outline'}}
            </button>
        {{/contentFor}}
    {{/if}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">Profile</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            <a href="{{pathFor 'albums'}}">
                {{> selectedImages title="Profile Photos"}}
            </a>
            {{#autoForm collection=formCollection
            doc=formDoc
            type="update"
            id="profileForm"
            validation="blur"
            class="form-wrapper"
            autosave=true}}
                {{> afQuickField name='interestProfile'}}
            {{/autoForm}}
        {{/ionContent}}
    {{/ionView}}
</template>
